{% extends 'base.html' %}

{% block nav %}
{% endblock %} 

{% block titulo %} 
<div class="titulo">
  <h1>Rincón del Sabor - Administrador</h1> 
</div>
  
{% endblock %}

{% block contenido %} 


<section id="funciones">

<!-- ELIMINAR -->
  <div class="eliminarAdmin">
    <h1> Eliminar Lugar</h1>
    <h4> Elija cuál quiere eliminar</h4>
      <form action="{{ url_for('eliminarAjax') }}" id="proyecto">
        <select id="selectEliminar">
          <option disabled selected>Selecciona una opción</option>
        {% for lugar in lista %}
          <option id="{{ lugar[1] }}" value= "{{ lugar[1] }}"> {{ lugar[1] }}</option>
        {% endfor %}  
        </select>
         <button type="button" id="eliminar" onclick="eliminarAjax()"> Eliminar </button>
      </form>
  </div>

  <!-- ELIMINAR Opiniones 
  <div class="eliminarAdmin">
    <h1> Eliminar TODAS Opiniones</h1>
    <form action="{{ url_for('eliminarOpAjax') }}" id="proyecto">
        <button type="button" id="eliminar" onclick="eliminarOp()"> Eliminar OPINIONES </button>
      </form>
  </div>-->
<!-- ELIMINAR Imagen-->
  <div class="eliminarI">
    <h1> Eliminar Imagen</h1>
    <h4> Elija cuál quiere eliminar</h4>
      <form action="{{ url_for('eliminar') }}" id="proyecto">
        <select id="eliminarImg">
          <option disabled selected>Selecciona una opción</option>
        {% for img in list %}
          <option id="{{ img[1] }}" value= "{{ img[1] }}"> {{ img[1] }}</option>
        {% endfor %}  
        </select>
       <button type="button" id="eliminarI" onclick="eliminar()"> Eliminar </button>
      </form>
  </div>

  <!-- MOSTRAR LISTA DE LUGARES -->
  <div class="mostrar">
    <h1> Mostrar Lista </h1>
    <button id="lugares" onclick="mandarAjax()"> Mostrar lugares por consola </button>
  </div>
  
  <!-- MODIFICAR -->
  <div class="modificar">
    <h1> Modificar Información</h1>
          <form action="{{ url_for('modificarAjax') }}" id="proyecto">
          <label for="lugar">Que lugar modificar: </label>
          <select id="lugar">
            <option disabled selected>Selecciona una opción</option>
          {% for lugar in lista %}
            <option value= "{{ lugar[1] }}"> {{ lugar[1] }}</option>
          {% endfor %}  
        </select><br></br> 
            
          <label for="nuevo">Nombre del Lugar: </label>
          <input type="text" placeholder="Ingrese el nuevo lugar" id="nuevo" name="nuevo" style=/><br></br> 

          <label for="nuevo">User de Instagram:</label>
      <input type="text" placeholder="Instagram" id="instaMod" name="insta" style=/><br></br> 
  
        <label for="direccion">Dirección: </label> 
        <input type="text" placeholder="Ingrese dirección del lugar" id="direccionMod" name="direccion"style=/><br></br> 
        
        <label for="lat">Coordenada LAT: </label>
        <input type="text" placeholder="Ingrese coordenada LAT" id="coordLat"  name="lat" style=/><br></br> 
            
       <label for="long">Coordenada LONG: </label>
       <input type="text" placeholder="Ingrese coordenada LONG" id="coordLong"  name="long" style=/><br></br>
            
        <label for="descripcion">Descripción: </label>     
        <input type="text" placeholder="Ingrese descripción del lugar" id="descripcion" name="descripcion" style=/><br></br> 
  
        <label for="costo">Costo: </label>     
        <select id="costoMod" name="costo">
          <option> Bajo </option>
          <option> Medio </option>
          <option> Alto </option>
        </select>
  
        <label for="tipo">Tipo de Lugar: </label>  
          <select id="tipoMod" name="tipo">
            <option> Cafe </option>
            <option> Restaurante </option>
            <option> Bar </option>
          </select>
            
         <button type="button" id="modificar" onclick="modificarAjax()"> Modificar </button>
          </form>
  </div>
  
  <!-- AGREGAR -->
  <div class="agregrar">
    <h1>Agregar Lugar</h1>
    <form action="{{ url_for('agregarAjax') }}" id="proyecto" method="PUT">
      
        <label for="nuevo">Nombre del Lugar: </label>
        <input type="text" placeholder="Ingrese el nuevo lugar" id="nombreAgregar" name="nombre" style=/><br></br> 
      
      <label for="ig">Perfil de Instagram:</label>
      <input type="text" placeholder="Instagram" id="instaAgregar" name="insta" style=/><br></br> 
      
        <label for="direccion">Dirección: </label> 
        <input type="text" placeholder="Ingrese dirección del lugar" id="direccionAgregar" name="direccion"style=/><br></br> 
        <label for="lat">Coordenada LAT: </label>
        <input type="text" placeholder="Ingrese coordenada LAT:" id="latAgregar"  name="lat" style=/><br></br> 
            
       <label for="long">Coordenada LONG: </label>
       <input type="text" placeholder="Ingrese coordenada LONG:" id="longAgregar"  name="long" style=/><br></br>
            
        <label for="descripcion">Descripción: </label>     
        <input type="text" placeholder="Ingrese descripción del lugar" id="descripcionAgregar" name="descripcion" style=/><br></br> 
  
        <label for="costo">Costo: </label>     
        <select id="costoAgregar" name="costo">
          <option> Bajo </option>
          <option> Medio </option>
          <option> Alto </option>
        </select>
  
        <label for="tipo">Tipo de Lugar: </label>  
          <select id="tipoAgregar" name="tipo">
            <option> Cafe </option>
            <option> Restaurante </option>
            <option> Bar </option>
          </select>
      <button type="button" onclick="agregarAjax()" id="enviar">Agregar</button>
    </form>
  </div>
  


</section>

 <!-- SUBIR IMAGENES -->
 <div class="imagenes">
    <h1> Agregar Imagenes</h1>
    <form action="{{ url_for('imagenes') }}" id="proyecto" method="POST" enctype="multipart/form-data">
      
      <label for="lugar">De que lugar agregar: </label>
      <select id="img" name="lugar">
        <option disabled selected>Selecciona una opción</option>
        {% for lugar in lista %}
          <option value= "{{ lugar[1] }}"> {{ lugar[1] }}</option>
        {% endfor %}  
      </select>
      
      <label for="subir">Elegir imagen: </label>
      <input required type="file" id="subir" name="subir" accept="imagen/png,imagen/jpeg,imagen/jpg"/>
	
          
      <button type="submit" id="enviar">Subir Imagen</button>
 </div>
</section>
    </form>
{% endblock %}
