{% extends 'base.html' %}

{% block nav %}
{% endblock %} 

{% block titulo %} 
<div class="titulo">
  <h1>Rincon del Sabor</h1> 
</div>
  
{% endblock %}

{% block contenido %} 
<style> body { margin: 10px;  } </style>

<section id="funciones">

<!-- ELIMINAR -->
  <div class="eliminarAdmin">
  <h1> Eliminar Lugar</h1>
  <h4> Elija cuál quiere eliminar</h4>
      <form action="{{ url_for('eliminarAjax') }}" id="proyecto">
        <select id="selectEliminar">
        {% for palabra in lista %}
          <option id="{{ palabra[1] }}" value= "{{ palabra[1] }}"> {{ palabra[1] }}</option>
        {% endfor %}  
      </select>
         <button type="button" id="eliminar" onclick="eliminarAjax()"> Eliminar </button>
      </form>
  </div>
  
  <!-- MODIFICAR -->
  <div class="modificar">
    <h1> Modificar Información</h1>
          <form action="{{ url_for('modificarAjax') }}" id="proyecto">
          <label for="lugar">Que lugar modificar: </label>
          <select id="lugar">
          {% for lugar in lista %}
            <option value= "{{ lugar[1] }}"> {{ lugar[1] }}</option>
          {% endfor %}  
        </select>
          <label for="nuevo">Nombre del Lugar: </label>
          <input type="text" placeholder="Ingrese el nuevo lugar" id="nuevo" name="nuevo" style=/><br></br> 
  
        <label for="direccion">Dirección: </label> 
        <input type="text" placeholder="Ingrese dirección del lugar" id="direccion" name="direccion"style=/><br></br> 
        <label for="lat">Coordenada LAT: </label>
        <input type="text" placeholder="Ingrese coordenada LAT:" id="coordLat"  name="lat" style=/><br></br> 
            
       <label for="long">Coordenada LONG: </label>
       <input type="text" placeholder="Ingrese coordenada LONG:" id="coordLong"  name="long" style=/><br></br>
            
        <label for="descripcion">Descripción: </label>     
        <input type="text" placeholder="Ingrese descripción del lugar" id="descripcion" name="descripcion" style=/><br></br> 
  
        <label for="costo">Costo: </label>     
        <select id="costo" name="costo">
          <option> Bajo </option>
          <option> Medio </option>
          <option> Alto </option>
        </select>
  
        <label for="tipo">Tipo de Lugar: </label>  
          <select id="tipo" name="tipo">
            <option> Cafe </option>
            <option> Restaurante </option>
            <option> Bar </option>
          </select>
            
         <button type="button" id="modificar" onclick="modificarAjax()"> Modificar </button>
          </form>
  </div>
  
  <!-- AGREGAR -->
  <div class="agregrar">
    <h1>Agregar Lugar</h1>
    <form action="{{ url_for('ajaxAgregar') }}" id="proyecto" method="POST">
      
        <label for="nuevo">Nombre del Lugar: </label>
        <input type="text" placeholder="Ingrese el nuevo lugar" id="nuevo" name="nuevo" style=/><br></br> 
  
        <label for="direccion">Dirección: </label> 
        <input type="text" placeholder="Ingrese dirección del lugar" id="direccion" name="direccion"style=/><br></br> 
        <label for="lat">Coordenada LAT: </label>
        <input type="text" placeholder="Ingrese coordenada LAT:" id="coordLat"  name="lat" style=/><br></br> 
            
       <label for="long">Coordenada LONG: </label>
       <input type="text" placeholder="Ingrese coordenada LONG:" id="coordLong"  name="long" style=/><br></br>
            
        <label for="descripcion">Descripción: </label>     
        <input type="text" placeholder="Ingrese descripción del lugar" id="descripcion" name="descripcion" style=/><br></br> 
  
        <label for="costo">Costo: </label>     
        <select id="costo" name="costo">
          <option> Bajo </option>
          <option> Medio </option>
          <option> Alto </option>
        </select>
  
        <label for="tipo">Tipo de Lugar: </label>  
          <select id="tipo" name="tipo">
            <option> Cafe </option>
            <option> Restaurante </option>
            <option> Bar </option>
          </select>
      <button type="button" onclick="agregarAjax()" id="enviar">Agregar</button>
    </form>
  </div>
  
  <!-- MOSTRAR LISTA DE LUGARES -->
  <div class="mostrar">
    <h1> MOSTRAR LISTA </h1>
    <button id="lugares" onclick="mandarAjax()"> Mostrar lugares por consola </button>
  </div>

</section>

 <!-- SUBIR IMAGENES -->
{% endblock %}
