<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8" />
<title> Rincón del sabor </title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{url_for('static', filename='scripts/main.js')}}"></script>

   
{% block extrahead %}{% endblock %}
</head>


<body {% block inbody %}{% endblock %}>

  
{% block titulo %}{% endblock %}
{% block contenido %}{% endblock %}

  
</body>
  
</html>
