{% extends 'base.html' %}

{% block extrahead %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block inbody %} onload="underBar()" {% endblock %}
{% block titulo %}{% endblock %}

{% block contenido %}
<div id="images"></div>   
<div id="map"></div>


<body onload="map.addMarker({lat: -34.614249, lng: -58.422078},true, false, true, true, true);">

<div id="buscador">
    <input type="text" class="SearchBar" onkeyup="buscar()" placeholder="¿De qué tenes ganas?" id="SearchBar" > 
 
    <button type="submit" class="SearchButton">🔍︎</button>

  
</div>

<div id="sitios" >
    <div id="lugar1">
      <a href="{{ url_for('descripcion') }}" id="nombre1"></a>
      <h3 id="direccion1"></h3>
      <p id="rating1"></p>
      <p id="precio1"></p>
      <p id="tipo1"></p>
      <img src="static/img/{{ url }}" id=img1>
    </div>

    <hr>

    <div id="lugar2">
      <a href="{{ url_for('descripcion') }}" id="nombre2"></a>
      <h3 id="direccion2"></h3>
      <p id="rating2"</p>
      <p id="precio2"></p>
      <p id="tipo2"></p>
      <img src="static/img/">
    </div>

    <hr>
</div>

<!-- <div> <button onclick="map.addMarker({lat: -34.614249, lng: -58.422078},true, false, true, true, true);" >AÑADIR MARCADOR</button> 
</div>-->

<script src="{{url_for('static', filename='mapa/lib/MapaInteractivo.js')}}"></script>
<script>
  let map = new MapaInteractivo("map", {
    preferCanvas: true,
    language: "en",
    attributionControl: true,
    onLayerLoaded: function (layerName, layerId) {console.log (layerName, layerId)},
    onContextMenu: onContextMenu
  });



  function addLayer(id) {
    map.addPublicLayer(id, {clustering: true});
  }
  function onContextMenu(ev) {
    const id = map.addMarker(ev.latlng, true, false, false, false, false, {iconUrl: 'http://static.usig.buenosaires.gob.ar/symbols/bases_extrahospitalarias.png'});
  }

  function getImage() {
    map.getStaticImage().then((canvas) => {
      var img = document.createElement('img');
      var dimensions = map.getMapa().getSize();
      img.width = dimensions.x;
      img.height = dimensions.y;
      img.src = canvas.toDataURL();
      document.getElementById('images').innerHTML = '';
      document.getElementById('images').appendChild(img);
    })
  }


  function getColor(d) {
    return d > 12  ? '#E31A1C' :
           d > 9  ? '#FC4E2A' :
           d > 6   ? '#FD8D3C' :
           d > 3   ? '#FEB24C' :
           d > 1   ? '#FED976' :
                      '#FFEDA0';
  }

  //  setTimeout(() => {
//    map.removePublicLayer("estacionamiento_en_via_publica");
//    map.addPublicLayer("cajeros_automaticos", {clustering: true});
//  }, 10000)
  
</script>
{% endblock %}