{% extends 'base.html' %}

<!-- {% block nav %}
{% endblock %} -->

{% block titulo %} 
{% endblock %}

{% block contenido %} 
<section id="divididos">
  <div class="logueo">
    <h1>Rincón del Sabor</h1> 
    <h2>Inicia Sesión</h2>
    <form action="{{ url_for('ingresoAjax') }}" method="POST">
      <label for="name">Ingresá tu nombre: </label><br>
      <input type="text" id="name" name="nombre" placeholder="Usuario" required/><br>
      <hr>

      {% if yaExiste == True %}
      <h3>El usuario no existe</h3>
      {% endif %}
      
      <label for="password">Ingresá tu contraseña: </label><br>
      <input type="password" name="contraseña" id="password" placeholder="Contraseña" required/><br>
      <hr>
          
      <input type="submit" id="send-signup" value="Ingresar"/>
    </form>
    <a href="{{ url_for('registro') }}" id="link"> ¿No tenes una cuenta? Ingresá acá </a>
  </div>
  
  <div class="slider">
    <ul>
      <li><img src="static/img/1.jpg" alt=""></li>
      <li><img src="static/img/2.jpg" alt=""></li>
      <li><img src="static/img/3.jpg" alt=""></li>
      <li><img src="static/img/4.jpg" alt=""></li>
    </ul>
  </div>
</section>
{% endblock %}
