{% extends 'base.html' %}

<!--{% block nav %}
{% endblock %} -->

{% block titulo %} 

{% endblock %}

{% block contenido %} 

<section id="divididos">
  <div class="registro">
    <h1>Rincon del Sabor</h1> 
    <h2>Registrate</h2>
    <form action="{{ url_for('registroAjax') }}" method="POST">
      <label for="name">Ingresá tu nombre: </label><br>
      <input type="text" id="name" name="nombre" placeholder="Usuario" required/><br>
      <hr>
      
      {% if yaExiste == True %}
        <h3>El usuario ya existe</h3>
      {% endif %}
              
      <label for="mail">Ingresá tu correo electrónico: </label><br>
      <input type="text" id="mail" name="mail" placeholder="Gmail" required/><br> 
      <hr>
              
      <label for="password">Ingresá tu contraseña: </label><br>
      <input type="password"  id="password" placeholder="Contraseña" name="contraseña" required/><br>
      <hr>
      <input type="submit" id="send-signup" value="Registrarse"/>
    </form>
    <!-- <div class="msg">{{ msg }}</div> -->
    
    <a href="{{ url_for('ingreso') }}" id="link"> ¿Ya tenes una cuenta? Ingresá acá </a>
  </div>
      
  <div class="slider">
    <ul>
      <li><img src="static/img/1.jpg" alt=""></li>
      <li><img src="static/img/2.jpg" alt=""></li>
      <li><img src="static/img/3.jpg" alt=""></li> 
      <li><img src="static/img/4.jpg" alt=""></li>
    </ul>
  </div>
</section>

{% endblock %}